/*
* @Author: dhl
* @Date:   2017-10-25 11:14:23
* @Last Modified by:   dhl
* @Last Modified time: 2017-10-25 11:14:54
*/

* {
	 margin:0;
	 padding:0;
}

body,html {
	 width: 100%;
	 height: 100%;
	 background-color: red;
}